@charset "utf-8";
/* CSS Document */

#CriticalError{
width:50%;
margin:10% auto;
position:relative;
color:#fff;
text-align:center;
}

.CritalErrorMsg{
	font-style:italic;
}
.CriticalErrorAtlasImg{
width:150px;	
display:inline-block;
margin:10px auto 0px;
}
#CriticalErrorAtlasLogo{
width:200px;
margin:10px auto;
display:inline;
}