#Footer {
	position: fixed;
	height: 80px;
	background-color: #000;
	width: 100%;
	bottom: 0px;
	color: #fff;
	left: 0px;
	padding:10px 0;
	overflow: hidden;
	text-transform:uppercase;
	font-size:0.9em;
	z-index:10;
}
#Footer .ui-button {
	font-size:8pt;
	padding:10px;
}
.ui-button-text-only .ui-button-text {
	padding:0.4em !important;
}
.ATLASMainTitle {
	margin-right:5px;
	width:100px;
}
.FooterCTRLPadding {
	padding:5px;
}
.FibicsLogo {
	margin: 10px 20px;
	float:right;
	width:140px;
}
.nonMouseEvent {
	pointer-events: none;
}
#FooterLeftInfo {
	float: left;
	padding: 5px 20px;
	overflow: hidden;
	max-width:400px;
}
.vpInfoValue {
	white-space:nowrap;
	cursor:pointer;
	min-width:120px;
}
.vpInfoCaption {
	color:#999;
	text-align:right;
	padding-right:10px;
	vertical-align:top;
}
#ViewportInfo {
	float:left;
	padding:0px 20px;
	min-width:220px;
	max-width: 251px;
	overflow:hidden;
}
.infoUnits {
	text-transform:none !important;
}
#FooterLeftButtonsCTNR {
	padding:5px 0px;
}
#MagNotCalibrated {
	font-style:italic;
	color:#999;
}
.UnitsChangerCalMag {
	width:200px;
}
div.magCalLineMargin {
	margin:40px 30px;
	display:block;
	overflow:hidden;
	text-align:center;
}
div#magCalLine {
	width:500px;
	height:3px;
	background-color:#f00;
	line-height:3px !important;
}
.exportError {
	float:left;
	margin:20px;
}
#ATLASViewportButtonsSaveImage label {
	text-align:center;
}
#ATLASViewportButtonsSaveImage {
	width:100%;
}
.ZeissLogoFooter {
	width:195px;
	height:130px;
	right: 0px;
	margin:-20px 0px -20px 0px;
	display: block;
	float:right;
}
#btCalMagScreenButton {
	margin:10px 0;
}
#imperialUnits label {
	width:30px !important;
	min-width:40px !important;
}
.kiloUnits {
	text-transform:none !important;
}
.magModeDisplay {
	color:#999;
	font-style:italic;
	margin-left:5px;
}
#ATLASViewportDisplayLayoutChanger {
	display:inline-block;
}
#footerButtonSecondRow {
	display:block;
	margin-top:4px;
}
.SaveImageOptionCaption {
	text-align:right;
	padding-right:8px;
}
.belowImageLayout td {
	vertical-align:top;
}
#ViewportInfo table {
	border-collapse:collapse;
}
#fitDataToScreen {
	width: 18px;
	height: 18px;
	background-repeat:no-repeat;
	background-position: middle center;
	background-image:url(../images/scale_to_fit_icon.png);
	margin: 3px;
	display:inline-block;
	padding: 1px 3px;
}
#ATLASViewportDisplayModeChanger {
	float:left;
	margin: 3px 8px 3px 0;
}

/* 

Smaller Windows Size

*/

@media (max-width: 1025px) {
.ATLASMainTitle {
 width:50px;
 margin-bottom:0px;
 margin-right:10px;
}
#Footer {
height: 55px;
padding:0;
font-size:6pt;
}
.ZeissLogoFooter {
 height:55px;
 float:right;
 width:82px;
 margin:0px;
}
.FibicsLogo {
	margin: 5px 20px;
	float:right;
	width:100px;
}
 #ViewportInfo table {
margin-top:5px;
}
 #ViewportInfo td {
padding:0;
margin:0;
}
 .cursorRelated {
display:none;
}
#FooterLeftInfo {
 padding: 2px 2px;
}
.vpInfoCaption {
 padding:0 5px 0 0 !important;
 margin:0;
}
.vpInfoValue {
 min-width:80px;
 padding:0;
 margin:0;
}
}
