#browser {
	width:1px;
	height:1px;
	position:absolute;
	top:0;
	border:0px solid #f0f;
	right:200px;
	z-index:50;
	overflow:hidden;
	height:200px;
	background-color:#000;
	border:1px solid #333;
}
.browserPadding {
	position:absolute;
	left:100px;
}
#browserSourceDim {
	border:1px solid #0ff;
	height:20px;
	width:20px;
	position:absolute;
	top:10px;
	left:10px;
	font-size:1px;
	line-height:1px;
	-webkit-user-select: none;
	-moz-user-select:none;
}
#sourceBox{
position:absolute;
overflow:visible;
background-size:contain;
background-repeat:no-repeat;
}
#browserVPDim {
	height:20px;
	width:20px;
	position:absolute;
	border:1px solid rgba(37, 130, 175, 1); ;
	font-size:1px;
	line-height:1px;
	cursor:pointer !important;
	background-color: rgba(37, 130, 175, 0.1); 
	-webkit-user-select: none;
	-moz-user-select:none;
}